@import "./component-group.css";
@import "./default-style.css";
@import "../icon/css/all.css";

#timer h2{
    font-size: 5rem;
    margin-bottom: .2em;
}
#timer button i{
    color: white;
    width: 1.5rem;
}
#timer .section__row:last-of-type{ 
    display: flex;
    justify-content: space-around;
}
